# AWS
AWS_ACCESS_KEY=<AWS access key>
AWS_SECRET_ACCESS_KEY=<AWS secret access key>
AWS_BUCKET_NAME=<AWS bucket name>
OBJ_FILENAME=<CSV filename, e.g. tweets.csv>

# Census data
CENSUS_API_KEY=<Census API key>

# Twitter
CONSUMER_KEY=<Twitter Consumer Key>
CONSUMER_SECRET=<Twitter Consumer Secret>
ACCESS_TOKEN=<Twitter Access Token>
ACCESS_TOKEN_SECRET=<Twitter Access Token Secret>
MAX_TWEETS=<Any integer, defaults to 4>
