/* defining variables */ 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:ital,wght@0,200;0,600;1,200;1,600&display=swap');
:root {
    --pd-navy: rgba(53, 61, 85, 0.9);
    --pd-blue: rgb(52, 138, 255, .75);
    --pd-red: rgb(191, 10, 48);
    --pd-red-2: rgb(248, 105, 105);
    --background-color: var(--pd-navy);
    --text-body-color: rgb(255, 255, 255);
    --link-color: var(--pd-red-2);
    --text-sub-color: rgba(120, 120, 120, 1);
    --border-default: 1px solid rgba(200, 200, 200, 1);

}

body {
    color: var(--text-body-color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 150%;
}

a {
    color: var(--link-color);
}

.container {
    width: 100%;
    max-width: 470px;
    margin-right: auto;
    margin-left: auto; }

#about-me {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    max-width: 470px;
}

header {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.menu-container {
    font-family: 'Roboto Mono', monospace;
}


.menu ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: var(--border-default);
    list-style-type: none;
    text-align: right; 
}

.menu ul li {
    display: inline;
    margin-left: 10px; 
    padding: 0px;
}

.menu ul li a {
    color: var(--text-body-color);;
    text-decoration: none;
    font-size: 13px;
}

footer {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

.footer {
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    position: absolute;
    bottom: 20px;
}

.footer a {
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    color: var(--text-body-color);
    text-decoration: underline solid var(--text-body-color);
}